<%- include('../layouts/header', {title: 'TODO-List'}) %>

<%- include('../layouts/menu') %>

<section class="section hero is-link is-fullheight-with-navbar">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        TODO-List
      </h1>
      <h2 class="subtitle">
        Geranciando nossas atividades diárias =D
      </h2>
<a href="/checklists" class="button is-light is-medium">Ir para Listas de Atividades!</a>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
