<%- include('../layouts/header', {title: 'Lista de tarefas'}) %>

<%- include('../layouts/menu') %>

<section class="section">
  <div class="container">
    <h1 class="title size-4">Nova Lista</h1>

    <%- include('form', {url: '/checklists?_method=post', checklist: checklist}) %>
  </div>
</section>

<%- include('../layouts/footer') %>
