<%- include('../layouts/header', {title: checklist.name}) %>

<%- include('../layouts/menu') %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-four-fifths">
        <h1 class="title size-4"><%= checklist.name %></h1>
      </div>
      <div class="column is-one-fifth">
        <a href="add-task.html" class="button is-success is-small">Nova Tarefa</a>
        <a href="/checklists" class="button is-small">Voltar</a>
      </div>
    </div>

    <hr />

    <% checklist.tasks.forEach(task => { %>
      <div class="columns">
        <div class="column is-four-fifths">
          <input type="checkbox" /> <% task.name %>
        </div>

        <div class="column is-one-fifth">
          <button class="button is-danger is-small">Remover</button>
        </div>
      </div>
    <% }) %>

    
  </div>
</section>

<%- include('../layouts/footer') %>
